
@{
    ViewBag.Title = "About";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About US</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== About Page Content Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>The Best Car Rental Ever !!</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>
                                Setting out with the motto ‘the new generation rent-a-car’ to introduce a new kind of understanding to the car rental sector, GarentaDAY, like all Anadolu Group companies, aims to provide its customers with distinguished services that make the difference.

                                Founded with 100% of Anadolu Group capital, GarentaDAY is the only Turkish rent-a-car brand with a global vision. The brand is designed to offer a corporate approach in line with the expectations of its customers who rent for business and for private use, yet the the major feature that distinguishes GarentaDAY from any other global and corporate rent-a-car company is its technological infrastructure, one that is developed specifically to ensure the comfort and satisfaction of its customers.

                                GarentaDAY provides confidence and support in every step of the rental process. Garenta ensures confidence and support at every step in the process of car renting. In designing its products and services GARENTA thoroughly considers the expectations of customers and aims at exceeding these by exploiting the technology that customers need in renting a vehicle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="/Rentcar/assets/img/home-2-about.png" alt="JSOFT">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item active">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Page Content End ==-->
<!--== Our Facility Content Start ==-->
<section id="our-facility" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>LIMO PARTY RENT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>BUSINESS LIMO RENT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>HOTEL/CASINO/HOTEL</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>AIRPORT TRANSPORT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
        </div>
    </div>
</section>
<!--== Our Facility Content End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="/Rentcar/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
